[
  {
    "compilation_cmd": "-I tis-ci -I src -D alloca=__builtin_alloca",
    "compilation_database": [
      "compile_commands.json"
    ],
    "files": [
      "test/test_back.c",
      "src/unicode.c",
      "src/regcomp.c",
      "src/regenc.c",
      "src/utf16_be.c",
      "src/regparse.c",
      "src/st.c",
      "src/regexec.c",
      "src/unicode_unfold_key.c",
      "src/unicode_fold3_key.c",
      "src/unicode_fold2_key.c",
      "src/unicode_fold1_key.c"
    ],
    "machdep": "gcc_x86_64",
    "main": "main",
    "name": "Original 'test_back.c' test",
    "raw_options": {
      "-address-alignment": "0x10000",
      "-context-uninitialized-extern": true}
    }
  }
]
