[
    {
        "compilation_cmd": "-I tis-ci -I src -D alloca=__builtin_alloca",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "test/test_utf8.c",
            "tis-ci/external_functions.c",
            "src/regcomp.c",
            "src/regenc.c",
            "src/utf8.c",
            "src/regexec.c",
            "src/ascii.c",
            "src/regparse.c",
            "src/st.c",
            "src/unicode.c",
            "src/unicode_unfold_key.c",
            "src/unicode_fold3_key.c",
            "src/unicode_fold2_key.c",
            "src/unicode_fold1_key.c"
        ],
        "machdep": "gcc_x86_64",
        "main": "main",
        "name": "Original test_utf8.c test",
        "raw_options": {
            "-address-alignment": "0x10000"
        }
    },
    {
        "compilation_cmd": "-I tis-ci -I src -D alloca=__builtin_alloca",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "test/test_regset.c",
            "tis-ci/external_functions.c",
            "src/regcomp.c",
            "src/regenc.c",
            "src/utf8.c",
            "src/regexec.c",
            "src/ascii.c",
            "src/regparse.c",
            "src/st.c"
        ],
        "machdep": "gcc_x86_64",
        "main": "main",
        "name": "Original test_regset.c test",
        "raw_options": {
            "-address-alignment": "0x10000"
        }
    },
    {
        "compilation_cmd": "-I tis-ci -I src -D alloca=__builtin_alloca",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "test/test_syntax.c",
            "src/unicode.c",
            "src/regcomp.c",
            "src/regenc.c",
            "src/utf16_be.c",
            "src/regparse.c",
            "src/st.c",
            "src/regexec.c",
            "src/unicode_unfold_key.c",
            "src/unicode_fold3_key.c",
            "src/unicode_fold2_key.c",
            "src/unicode_fold1_key.c",
            "src/utf8.c",
            "src/regsyntax.c",
            "src/ascii.c"
        ],
        "machdep": "gcc_x86_64",
        "main": "main",
        "name": "Original test_syntax.c test",
        "raw_options": {
            "-address-alignment": "0x10000"
        }
    },
    {
	"name": "Original testu.c test",
        "compilation_cmd": "-I tis-ci -I src -D alloca=__builtin_alloca",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "test/testu.c",
            "src/unicode.c",
            "src/regcomp.c",
            "src/regenc.c",
            "src/utf16_be.c",
            "src/regparse.c",
            "src/st.c",
            "src/regexec.c",
	    "src/unicode_unfold_key.c",
	    "src/unicode_fold3_key.c",
	    "src/unicode_fold2_key.c",
	    "src/unicode_fold1_key.c"
        ],
        "machdep": "gcc_x86_64",
        "main": "main",
	"raw_options": {  "-address-alignment": "0x10000" }
    },
    {
        "compilation_cmd": "-I tis-ci -I src -D alloca=__builtin_alloca",
        "compilation_database": [
            "compile_commands.json"
	    ],
        "files": [
            "test/testc.c",
            "src/unicode.c",
            "src/regcomp.c",
            "src/regenc.c",
            "src/utf16_be.c",
            "src/regparse.c",
            "src/st.c",
            "src/regexec.c",
            "src/unicode_unfold_key.c",
            "src/unicode_fold3_key.c",
            "src/unicode_fold2_key.c",
            "src/unicode_fold1_key.c",
            "src/euc_jp.c",
            "src/ascii.c"
        ],
        "machdep": "gcc_x86_64",
        "main": "main",
        "name": "Original testc.c test",
        "raw_options": {
            "-address-alignment": "0x10000"
        }
    },
    {
        "compilation_cmd": "-I tis-ci -I src -D alloca=__builtin_alloca",
        "compilation_database": [
            "compile_commands.json"
        ],
        "files": [
            "test/test_back.c",
            "src/unicode.c",
            "src/regcomp.c",
            "src/regenc.c",
            "src/utf16_be.c",
            "src/regparse.c",
            "src/st.c",
            "src/regexec.c",
            "src/unicode_unfold_key.c",
            "src/unicode_fold3_key.c",
            "src/unicode_fold2_key.c",
            "src/unicode_fold1_key.c"
        ],
        "machdep": "gcc_x86_64",
        "main": "main",
        "name": "Original test_back.c test",
        "raw_options": {
            "-address-alignment": "0x10000"
        }
    }

]
